<h1><%= @sighting.species.name %> sighting has been added!</h1>

<a href="/species/<%= @sighting.species.id %>/show">Return to <%= @sighting.species.name %> sightings</a>
<a href="/species">Return to main menu</a>
